<div class="modal-header">
  <h5 class="modal-title" id="tipomodalLabel">Tipo</h5>
  </div>
    <div class="modal-body">
      <%= render partial: 'admins_ativo/tipos/form' %>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 </div>