<div class="row ">
  <div class="col-lg-12">
    <h1>Modalidade de Aquisição de Ativos</h1>    
  </div>
</div>
<div>
  <%= link_to new_admins_ativo_aquisicao_modalidade_path do %>
    <i class="fa fa-plus btn-sm btn-success" style="color:write"></i>
  <% end %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Modalidade Aquisição
      <th>
      <th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @aquisicao_modalidades.each do |aquisicao_modalidade| %>
      <tr>
        <td><%= aquisicao_modalidade.descricao %></td>
        <td></td>
        <td style="width: 10px">
          <%= link_to edit_admins_ativo_aquisicao_modalidade_path(aquisicao_modalidade) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        <td style="width: 10px">
          <%= link_to admins_ativo_aquisicao_modalidade_path(aquisicao_modalidade), method: :delete, data: {confirm: "Certeza?"} do %>
            <i class="fa fa-trash" style="color:red"></i>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>